*.o
# Although interesting, they are too large files, but basically, it's downloaded
# online documentation from the official ARM developer website.
docs/*.pdf
kernel8.elf
kernel8.img
kernel8.map
.DS_Store
bootloader_communication
*.dtb
*.dts
